<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/TestingSystem?createDatabaseIfNotExist=true</property>
        <property name="connection.username">root</property>
        <property name="connection.password">12345678</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">10</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <property name="hibernate.format_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Mapping day 3 -->
        <mapping class="com.vti.hibernate.helloworld.entities.Category" />
        <mapping class="com.vti.hibernate.helloworld.entities.Products" />

        <!-- Mapping day 7 -->
        <mapping class="com.vti.springdatajpa.entity.Department" />

        <!-- Mapping day 9 -->
        <mapping class="com.vti.springdatajpa.entity.Account" />



    </session-factory>
</hibernate-configuration>
